# venv files
venv/
env/
.venv
.venv*
.env
.idea

# Jupyter checkpoints and VS Code files
.ipynb_checkpoints
.vscode

# Byte-compiled / optimized / DLL Python files
__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py

# "Temporary" workspaces.
temp/

# CodeLLM_DevKit output
analysis.json
