name: CI for Vanilla Notebooks

on:
  push:
    branches:
      - main
    paths:
      - 'recipes/Getting_Started_with_Granite_Code.ipynb'
      - 'recipes/Guard-Rails/HAP.ipynb'
  pull_request:
    branches:
      - main
    paths:
      - 'recipes/Getting_Started_with_Granite_Code.ipynb'
      - 'recipes/Guard-Rails/HAP.ipynb'

jobs:
  test-vanilla-notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip    
          pip install nbconvert nbclient ipykernel

      - name: Run Vanilla Notebooks
        env:
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
        run: |
          notebooks=$(cat .github/notebook_lists/vanilla_notebooks.txt | tr '\n' ' ')  
          for notebook in $notebooks; do  
            echo "Executing $notebook"  
            jupyter nbconvert --to notebook --execute --inplace $notebook  
          done
